body {
    background-color: aqua;
}

.RPSChoose {
    width: 200px;
    height: 200px;
}

h1,p {
    text-align: center;
}

.aichoicebox {
    width: 200px;
    height: 200px;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 5px;
}

.mainbox {
    align-content: center;
}